/* ==========================================================================
   #GRID
   ========================================================================== */

/**
 * This plugin provides a flexbox grid for inuitcss. Support for IE9 currently
 * prevents inuitcss from using the flexbox layout mode.
 *
 * Cells are full-width and will stack on top of each other by default:
 *
 * <div class="o-grid">
 *   <div class="o-grid__cell">
 *   </div>
 *   <div class="o-grid__cell">
 *   </div>
 * </div>
 *
 * Cells will in most cases be accompanied by utility classes that divide
 * the grid into fractions. These are provided by inuitcss:
 *
 * <div class="o-grid">
 *   <div class="o-grid__cell u-1/2">
 *   </div>
 *   <div class="o-grid__cell u-1/2">
 *   </div>
 * </div>
 *
 * Several modifier classes are provided. For example, `o-grid--auto` will
 * divide the space equally between all containing cells without the need
 * for width utility classes.
 *
 * <div class="o-grid--auto">
 *   <div class="o-grid__cell">
 *   </div>
 *   <div class="o-grid__cell">
 *   </div>
 * </div>
 */

// Specify the width of the gutters. By default we use the
// global spacing unit provided by inuitcss.

$inuit-flexgrid-gutter-width: $inuit-global-spacing-unit !default;


/* The grid
   ========================================================================== */

/**
 * 1. Add a negative margin only on one side. That way we aren't required to
 *    use a wrapper with the same amount of spacing, though it's common to do so.
 */

.o-grid {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin-left: -$inuit-flexgrid-gutter-width; /* [1] */
}

/**
 * 1. Default gutters. Also neutralizes the left margin on `o-grid`.
 */

.o-grid__cell {
    flex: 0 1 auto;
    padding-left: $inuit-flexgrid-gutter-width; /* [1] */
    width: 100%;
}


/* Horizontal alignment
   ========================================================================== */

.o-grid--center {
    justify-content: center;
}

.o-grid--right {
    justify-content: flex-end;
}

.o-grid--left {
    justify-content: flex-start;
}


/* Vertical alignment
   ========================================================================== */

.o-grid--middle {
    align-items: center;
}

.o-grid--bottom {
    align-items: flex-end;
}


/* Content distribution
   ========================================================================== */

.o-grid--around {
    justify-content: space-around;
}

.o-grid--between {
    justify-content: space-between;
}

.o-grid--reverse {
    flex-direction: row-reverse;

}


/* No gutters
   ========================================================================== */

.o-grid--flush {
    margin-left: 0;

    & > .o-grid__cell {
        padding-left: 0;
    }
}


/* Automatically size cells by distributing them equally
   ========================================================================== */

.o-grid--auto {
    & > .o-grid__cell {
        flex: 1 0 0;
    }
}
